<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellokotlin" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Kotlin</name>
    <description>
        A sample Apache Cordova application.
    </description>
    <author email="dave@workingedge.co.uk">Dave Alden</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-hello-kotlin" spec="https://github.com/dpa99c/cordova-plugin-hello-kotlin" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
